html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-content {
    flex: 1;
    width: 1200px;
    margin: 0 auto;
}

p, span, div {
    font-family: "Gotham A", "Gotham B", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Sentinel A", "Sentinel B", serif;
    color: #002E5D;
}

/* ===== ACCORDION ===== */

/* Style the buttons that are used to open and close the accordion panel */

button.byu-accordion {
    background-color: #002E5D;
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 100%;
}

button.byu-accordion::after {
    content: '+';
    font-size: 13px;
    color: #FFF;
    float: right;
    text-align: right;
    margin-left: 5px;
}

button.byu-accordion.active::after {
    content: '-';
    /* Unicode character for "minus" sign (-) */
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

button.byu-accordion.active,
button.byu-accordion:hover {
    background-color: #2B4D6E;
}


/* Style the accordion panel. Note: hidden by default */

div.byu-accordion-panel {
    padding: 0 18px;
    background-color: #F2F2F2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}